:root {
  --header-height: 150px;
  --navbar-height: 100px;
  --footer-height: 100px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--header-height) var(--navbar-height) auto var(--footer-height);
  grid-template-areas:
    "header header"
    "navbar navbar"
    "main main"
    "footer footer";
}


.header {
  background: linear-gradient(to right, white,grey,white);
  position: sticky;
  top: 0;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 15px;
  align-items: center;
  z-index: 13;
}
@media all and (min-width: 401px) {
.navbar {
  background: linear-gradient(to right, white,grey,white);
  position: sticky;
  top: var(--header-height);
  grid-area: navbar;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: no-wrap;
  border: 1px solid black;
  border-radius: 15px;
  align-items: center;
  z-index: 13;

  
}
}
@media all and (max-width: 400px) {
  .navbar {
    background: linear-gradient(to right, white,grey,white);
    position: sticky;
    top: var(--header-height);
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: no-wrap;
    border: 1px solid black;
    border-radius: 15px;
    align-items: center;
    z-index: 13;

    
  }
  }
.footer {
  grid-area: footer;
  border: 1px solid black;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.main{
  grid-area: main;
  border: 1px solid black;
  border-radius: 15px;
}

.login-box__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.login-box__form--input {
  display: block;
  width: 120px;
}

.login-box__form--button {
  display: block;
}

.login-box__form--label {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}

.reviews {
  text-align: center;
}




.reviews__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  
}

.reviews__list__element--container {
  list-style-type: none;
  width: 250px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__list__element--review-id {
  font-size: 2rem
}
.reviews__list__element--review-id--box {
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0
}
.reviews__header {
  position: sticky;
  top: calc(var(--footer-height) + var(--navbar-height));
  background-color: white;
  box-shadow: 0px 10px 10px 10px white; 
  margin: 10px;
  font-size: 1rem;
}

.single-review__list {
  padding: 0;
  list-style-type: none;
  text-align: center;
  grid-area: single-review;
}

.single-review__list__element--key {
  font-weight: bold;
  text-decoration: underline;
}

.single-review__list__element--img {
  width: 200px;
}

.add-review-likes {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.add-review-likes__container {
  width: 125px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px grey;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 5px lightgrey
}
.add-review-likes__button {
  display: inline;
  justify-content: space-between;
  width: 50px;
  height: 20px;
}

.rocket {
  font-size: 5rem;
  text-align: center;
}
.loading-rocket {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: animate-loading-rocket;
}

@keyframes animate-loading-rocket {
  0% {
    transform: scale(1) rotate(10deg)
  }
  25% {

    transform: scale(1.25) rotate(90deg)
  }
  33% {
    transform: scale(0.80) rotate(110deg)
  }
  50% {
    transform: scale(1.1) rotate(180deg)
  }
  66% {
    transform: scale(1.25) rotate(210deg)
  }
  75% {
    transform: scale(0.90) rotate(270deg)
  }
  100% {
    transform: scale(1) rotate(360deg)
  }
}

.loading-container {
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.comment-arrows__container {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid grey; */
  /* border-radius: 5px;
  box-shadow: 0px 0px 5px 5px lightgrey; */
}

.single-review__list__element--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-arrows__button {
  background-color: white;
  height: 60px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 5px lightgrey;
  margin: 10px;


}
.hide-arrow {
  display:none;
}


@media all and (max-width: 600px) {
  .single-review-with-comments {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "single-review"
    "comments";
  }
}
@media all and (min-width: 601px) {
  .single-review-with-comments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "single-review comments"
  }
}
 
.hide-comments {
  display:none;
}

.comments {
  grid-area: comments;
  border: 1px black solid;
  border-radius: 15px;
  text-align: center;
}

.comment-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-list__element--footer--container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.comment-list__element--container {
  width: 200px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.comment-list__element--author--container {
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding: 10px;
  background: linear-gradient(to right, white,grey);
  border-radius: 15px;
}

.add-comment-likes {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.add-comment-likes__container {
  width: 75px;
  height: 30px;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px grey;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 5px lightgrey
}
.add-comment-likes__button {
  display: inline;
  justify-content: space-between;
  width: 50px;
  height: 20px;
}


.hide-comment-form {
  display: none;
}

.comment-form__input {
  width: 200px;
  height: 75px;
  margin: 10px;
  display: block;
  border: 1px solid lightgrey;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px lightgrey ;
  text-align: center;
  z-index: 1;
  position: relative;


}
.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-posting {
  box-shadow: 0 0 3px 3px blue inset;
  
}
.shake-input {
  animation: shake 1s cubic-bezier(0.36,0.07,0.19,0.97);
  ;
  box-shadow: 0px 0px 5px 1px red;
}

@keyframes shake {
  10%,90% {
    transform: translate3d(-1px,0,0);
  }
  20%,80% {
    transform: translate3d(2px,0,0);
  }
  30%,50%,70% {
    transform: translate3d(-4px,0,0);
  }
  40%,60% {
    transform: translate3d(4px,0,0);
  }
}

.comment-form__message {
  color: red;
  margin: 0px;
  height: 20px;
  z-index: 1;
position: relative;
}

.comment-form__button {
  width: 75px;
  height: 40px;
  z-index: 1;
  position: relative;
}
.form-overlay {
  position: absolute;
  display: inline;
  z-index: 12;
  background: radial-gradient(circle at center, black 0, lightgrey 100%);
  opacity: 0.7;
  width: 250px;
  height: 160px;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px white inset;
}
.form-overlay__text {
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 30px;
  vertical-align: middle;
  font-size: 2rem;
  font-weight: bold;
}
.hide {
  display: none;
}

.categories-list__list__element--container {
  list-style-type: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 0px 5px 5px grey;
  width: 320px;
}
@media all and (max-width: 360px) {
  .categories-list__list__element--container {
    list-style-type: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 0px 5px 5px grey;
    width: 270px;
  }
}

.categories-list__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 10px;
}

.categories-list__description {
  text-align: center;
  padding: 10px;
}

.hide-category-present {
  display: none;
}

.category-present {
  font-weight: bold;
  color: green;
}

.comment__list__element--delete-button {
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.75rem;
}

.comment-deleting {
  box-shadow: 0 0 3px 3px orange inset;
  
}

.comment-fading {
  animation-name: deleteFade;
  animation-duration: 1s;
}

@keyframes deleteFade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

.shake-comment {
  animation: shake-comment 1s cubic-bezier(0.36,0.07,0.19,0.97);
  ;
}

.reviews__header__query-form__list--message--content {
  font-weight: bold;
  font-style: italic;
  color: orange;
}

.reviews__header__query {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: 
  "title title"
  "sort order"
  "message message";
  border: 1px solid lightgrey;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.sort {
  grid-area: sort;
}

.order {
  grid-area: order;
}

.reviews__header__query-form--title {
  grid-area: title;
}
  
@keyframes shake-comment {
  10%,90% {
    transform: translate3d(-1px,0,0);
  }
  20%,80% {
    transform: translate3d(2px,0,0);
  }
  30%,50%,70% {
    transform: translate3d(-4px,0,0);
    box-shadow: 0px 0px 5px 1px red;
  }
  40%,60% {
    transform: translate3d(4px,0,0);
  }
}
.reviews__header__query-form__list--message {
  grid-area: message;
}

.error-handler__server {
  border: 1px solid black;
  border-radius: 15px;
  font-size: 1.5rem;
  background: radial-gradient(circle at 100%,red, white);
  text-align: center;
  padding: 50px;
  height: 100%;
}
.error-handler__user {
  border: 1px solid black;
  border-radius: 15px;
  font-size: 1.5rem;
  background: radial-gradient(circle at 100%,orange, white);
  text-align: center;
  padding: 50px;
  height: 100%;
}

img {
  width: 200px;
  margin-top: 20px;
}

.main {
  min-height: calc(100vh - var(--footer-height) - var(--header-height) - var(--navbar-height))
}

.navbar__link--box {
  width: 125px;
  text-align: center;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-ball {
  width: 150px;
  height: 150px;
  background-color: aquamarine;
  border-radius: 50px;

}

.welcome {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  height: 100%;
  font-size: 1.2rem;
  font-weight: normal;

}

.welcome__image {
  height: 100px;
  width: 100px;
}
.welcome__nb {
  font-weight: bold;
  color: darkorange;

}

.first-load-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 20;
  padding: 20px;  
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at 50%,white,black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.landing-logo {
  height: 600px;
  width: 600px;
  margin-left: 170px;
  margin-top: 50px;
}

.landing-text {
  margin-top: -20px;
  font-size: 3rem;
 
}
.render-logo {
  width: "175px"; 
  height: "175px";
}

.welcome-link-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px
}
@media all and (max-width: 400px) {
  .welcome {
    font-size: 0.8rem;
  }
  .welcome img {
    width: 100px;
  }
  .welcome-link-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


@media all and (max-width: 350px) {
  .title-box img {
    width: 150px;
  }
}

.hide-sort-queries {
  width: 100%;
  background-color: white;
  height: 50px;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0%;
  background: rgba(255,255,255,0)
}

.hide-sort-queries[data-showQueries="true"] {
  top: calc(var(--footer-height) + var(--navbar-height));


}


.hide-sort-queries__element {
  width: 25%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: black solid 1px;
  margin-top: 0px;
}

/* .reviews__header {
  position: sticky;
  top: calc(var(--footer-height) + var(--navbar-height));
  background-color: white;
  box-shadow: 0px 10px 10px 10px white; 
  margin: 10px;
} */


