.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--header-height) var(--navbar-height) auto var(--footer-height);
  grid-template-areas:
    "header header"
    "navbar navbar"
    "main main"
    "footer footer";
}


.header {
  position: sticky;
  top: 0;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 15px;
}
.navbar {
  position: sticky;
  top: var(--header-height);
  grid-area: navbar;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: no-wrap;
  border: 1px solid black;
  border-radius: 15px;
  
}
.footer {
  grid-area: footer;
  border: 1px solid black;
  border-radius: 15px;
}
