:root {
  --header-height: 150px;
  --navbar-height: 150px;
  --footer-height: 150px;
}

* {
  box-sizing: border-box
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--header-height) var(--navbar-height) auto var(--footer-height);
  grid-template-areas:
    "header header"
    "navbar navbar"
    "main main"
    "footer footer";
}


.header {
  background: linear-gradient(to right, white,grey,white);
  position: sticky;
  top: 0;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 15px;
  align-items: center;
}
@media all and (min-width: 401px) {
.navbar {
  background: linear-gradient(to right, white,grey,white);
  position: sticky;
  top: var(--header-height);
  grid-area: navbar;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: no-wrap;
  border: 1px solid black;
  border-radius: 15px;
  align-items: center;
  
}
}
@media all and (max-width: 400px) {
  .navbar {
    background: linear-gradient(to right, white,grey,white);
    position: sticky;
    top: var(--header-height);
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: no-wrap;
    border: 1px solid black;
    border-radius: 15px;
    align-items: center;
    
  }
  }
.footer {
  grid-area: footer;
  border: 1px solid black;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main{
  grid-area: main;
  border: 1px solid black;
  border-radius: 15px;
}

.login-box__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.login-box__form--input {
  display: block;
  width: 120px;
}

.login-box__form--button {
  display: block;
}

.login-box__form--label {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}

.reviews {
  text-align: center;
}




.reviews__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  
}

.reviews__list__element--container {
  list-style-type: none;
  width: 250px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 15px;
}

.reviews__list__element--review-id {
  font-size: 2rem
}
.reviews__list__element--review-id--box {
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}
.reviews__header {
  position: sticky;
  top: calc(var(--footer-height) + var(--navbar-height));
  background-color: white;
  box-shadow: 0px 10px 10px 10px white; 
}

.single-review__list {
  padding: 0;
  list-style-type: none;
  text-align: center;
  grid-area: single-review;
}

.single-review__list__element--key {
  font-weight: bold;
  text-decoration: underline;
}

.single-review__list__element--img {
  width: 200px;
}

.add-review-likes {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.add-review-likes__container {
  width: 125px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px grey;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 5px lightgrey
}
.add-review-likes__button {
  display: inline;
  justify-content: space-between;
  width: 50px;
  height: 20px;
}

.rocket {
  font-size: 5rem;
  text-align: center;
}
.loading-rocket {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: animate-loading-rocket;
}

@keyframes animate-loading-rocket {
  0% {
    transform: scale(1) rotate(10deg)
  }
  25% {

    transform: scale(1.25) rotate(90deg)
  }
  33% {
    transform: scale(0.80) rotate(110deg)
  }
  50% {
    transform: scale(1.1) rotate(180deg)
  }
  66% {
    transform: scale(1.25) rotate(210deg)
  }
  75% {
    transform: scale(0.90) rotate(270deg)
  }
  100% {
    transform: scale(1) rotate(360deg)
  }
}

.loading-container {
  text-align: center;
  font-size: 3rem;
}

.comment-arrows__container {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid grey; */
  /* border-radius: 5px;
  box-shadow: 0px 0px 5px 5px lightgrey; */
}

.single-review__list__element--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-arrows__button {
  background-color: white;
  height: 60px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 5px lightgrey;
  margin: 10px;


}
.hide-arrow {
  display:none;
}


@media all and (max-width: 600px) {
  .single-review-with-comments {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "single-review"
    "comments";
  }
}
@media all and (min-width: 601px) {
  .single-review-with-comments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "single-review comments"
  }
}
 
.hide-comments {
  display:none;
}

.comments {
  grid-area: comments;
  border: 1px black solid;
  border-radius: 15px;
  text-align: center;
}

.comment-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-list__element--footer--container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.comment-list__element--container {
  width: 200px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.comment-list__element--author--container {
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
  padding: 10px;
  background: linear-gradient(to right, white,grey);
  border-radius: 15px;
}

.add-comment-likes {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.add-comment-likes__container {
  width: 75px;
  height: 30px;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px grey;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 5px lightgrey
}
.add-comment-likes__button {
  display: inline;
  justify-content: space-between;
  width: 50px;
  height: 20px;
}

